/* ideas:
make background fade into main color of album when it gets there
add minor animations */

body {
  background: #5c4e3c;
}

h1 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

.act1 {
  background: #5c4e3c;
  transition: background 1.5s;
}

.act2 {
  background: #42352c;
  transition: background 1.5s;
}

.act3 {
  background: #2e0f0c;
  transition: background 1.5s;
}

.act4 {
  background: #7e5b3d;
  transition: background 1.5s;
}

.act5 {
  background: #3a4951;
  transition: background 1.5s;
}

.timelineContainer {
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.details {
  width: 80%;
}

.songTitle {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.year {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 20%;
}
